<ColorItem title='Primary' colors={{ '--color-primary': '#8a84f7ff' }} />

<ColorItem
  title='Monochrome'
  colors={{
    '--color-blue': '#005affff',
    '--color-pink': '#e900f1ff',
    '--color-hover': '#00e5ffff',
    '--color-yellow': '#cdd900ff',
    '--color-green': '#3ae600cc',
  }}
/>

<ColorItem title='Success' colors={{ '--color-success': '#16c916ff' }} />

<ColorItem title='Error' colors={{ '--color-error': '#e52626ff' }} />